#!/usr/bin/env bash

{% if python == 'y' %}
# Install uv
curl -LsSf https://astral.sh/uv/install.sh | sh

# Install Dependencies
uv sync --group dev

# Install pre-commit hooks
uv run pre-commit install --install-hooks
{% endif %}
