# {{ project_name }}

{{ project_description }}

## Installation

```bash
pip install {{ project_name }}
```

## Quick Start

```python
from {{ project_slug }}.foo import hello_world

print(hello_world())
```
